


.issue-group {
	width: 80%;
	height: 25%;
	margin: 0 auto;
	text-align: left;

	display: flex;
	align-items: center;
} 

.issue-group span.red {
	margin-left: 5px;
	margin-right: 5px;
	color:#ff0000;
} 

.test-dev .open-code, 
.balls-group {
	width: 80%;
	height: 75%;

	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #ff0000;
	margin: 0 auto;
} 


.balls-group .ball {
	width: 12.3%;
	height:50%;
	border: 1px solid #ff0000;
}

.balls-group .ball .ball-num {
	background-image: url("../../opencode/images/type00/grey.jpg");
	background-repeat: no-repeat;
	background-position: center;

	width: 100%;
	height: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	padding-top:3%;
	padding-right:4.5%;
	border: 1px solid #ff00ff;
}

.balls-group .ball .ball-num-blue {
	background-image: url("../../opencode/images/type00/blue.jpeg");
}

.balls-group .ball .ball-num-red {
	background-image: url("../../opencode/images/type00/red.jpeg");
}

.balls-group .ball .ball-num-green {
	background-image: url("../../opencode/images/type00/green.jpeg");
}

.balls-group .ball .ball-pet {
	display: flex;
	justify-content: center;
	/* align-items: center; */
}